{{- $src := .Get "src" -}}
{{- $img := .Page.Resources.GetMatch $src -}}
{{- if not $img -}}
{{- $img = resources.Get $src -}}
{{- end -}}
{{- $w := .Get "w" -}}
<figure class='fig pixel-art'>
  <img class='scale-{{ .Get "scale" | default "one" }}'
    src='{{ with $img }}{{ .RelPermalink }}{{ else }}{{ $src }}{{ end }}' alt='{{ .Get "alt" }}'
    style='{{ if $w }}--w: {{ $w }}px;{{ else if $img }}--w: {{ $img.Width }}px;{{ end }}'>
  {{ with .Get "caption" }}
  <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
